#### YAABEX Configurations File ####
####################################
# Change the values at your own risk to obtain different results

###### ALIGNER CONFIGURATION #######
####################################

# Use only time based alignments?
# Must be a boolean (true or false)
# If "true" does not use sentence similarity to align the subtitles
# Default value is "false" (w/o quotesgiza)
TIME_ONLY = false

# Maximum time difference accepted in an alignment
# Must be between 0.00 e 1.00
# Lower values make the alignments more precise, but will reduce the number of alignments
# Default value is 0.95
TIME_THRESHOLD = 0.95

# Maximum distance accepted in an alignment; Will be ignored if TIME_ONLY is used.
# Must be between 0.00 e 1.00
# Lower values make the alignments more precise, but will drastically reduce the number of alignments
# Default value is 0.55
DISTANCE_THRESHOLD = 0.55

##### TRANSLATOR CONFIGURATION #####
####################################

# Use a dictionary?
# Must be a boolean (true or false)
# Use "false" if same language alignments
# Default value is "true" (w/o quotes).
USE_DICTIONARY = on

# Location of the dictionary fire; Will be ignored if USE_DICTIONARY is off.
# Must relative to project root folder
# Must contain a text file with two rows, as follow:
# word	[tab] translation
# Must be between 0.00 e 1.00
# Lower values make the alignments more precise, but will reduce the number of alignments
# Default value is "lib/translatorEN-PT.txt" (w/o quotes)
DICTIONARY_FILE = lib/translatorEN-PT.txt
